# 1000 是 linux 第一個使用者帳號
# UID=1000
# 33 www-data
UID=33
# 993 是 vboxsf
GID=993
NC_VERSION=stable
NC_NAME=nextcloud
NC_PORT=8080
# 這個 mount 到 windows share folder 上
NC_DATAPATH=./data/nextcloud/data
NC_TRUST_DOMAINS="domain1.com domain2.com"

PROTOCOL=https
REVERSE_PROXY_IP=192.168.1.1

DB_VERSION=latest
DB_NAME=nc_mariadb
DB_PORT=3306
DB_ROOT_PASS=rootpass
DB_USER=nextcloud
DB_PASS=nextcloud
DB_DATABASE=nextcloud
# 這個不要 mount 到 windows 上，在 linux 內即可(否則有問題)
DB_DATAPATH=./data/mariadb

RD_VERSION=latest
RD_NAME=nc_redis
RD_PASS=redis_nextcloud
